.externalToolBuilders/*
*.db
*.class
*.jar
lib/*
target/*
build/*
/target
*~
WebContent/WEB-INF/lib/*
.settings/*
*.settings/*
*.sonar/*
*sonar-project.properties
.classpath
.*~
.project
.tern-project
*/bin/*
*.iml
.idea
/.settings/
